.calendar {
  width: 90%;
  
  margin: 0 auto;
  
  box-sizing: border-box;
  border: 1px solid #ccc;

  font-family: Arial, sans-serif;
}

.calendar h2 {
  text-align: center;
}

.calendar table {
  width: 100%;

  border-spacing: 0;
  border-collapse: collapse;
}

.calendar th, td {
  border: 1px solid gray;
  text-align: right;
  vertical-align: top;
}

.calendar td {
  height: 80px;
}

.calendar td:hover {
  background-color: #aaaa;
}

.calendar .before-month,.after-month  {
  color: #aaaa;
}

.calendar .current-month {
  background-color: #f0f0f0;
}

.calendar .today {
  font-weight: bold;
  color: blue;
}

.event {  
  padding: 2px;
  margin-bottom: 2px;
  background-color: yellow;
  font-size: 12px;
}