body {
    margin: 0;
}

header, main, footer {
    box-sizing: border-box;
    border: 1px solid black;
}

header, footer {
    width: 100%;
    height: 5vh;
}

main {
    width: 800px;
    height: 90vh;
    margin: 0 auto;

}


div {
    box-sizing: border-box;
    border-bottom: 1px solid gray;
}


#simple-chat {
    height: 300px;
}

#chat-message {
    width: 300px;
}

#chat-username {
    width: 80px;
}